*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg path {
  stroke-dasharray: 25; 
  stroke-dashoffset: 250;
  animation: flow 3s linear infinite;   
}

@keyframes flow {
  100% {
      stroke-dashoffset: 0;
  }
}